@model PureSurveyProjectTracker.Models.ViewModels.ProjectsModel
@{
// string laneheader = "lane" + Model.FirstLaneNumber + "Form" + @Model.SecondLaneNumber?.ToString() ?? "";
}
@using (Html.BeginForm())
{ 
@*<div id="dialog-Add" class="modal fade" title="ADD PROJECT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-left:35%; margin-top:5%">*@
        <div>
            <div style="text-align:center; width:100%; height:30px; background-color:#569bbe; color:#ffffff; padding-top:5px"><strong>ADD PROJECT</strong></div>
            <br>
            <div style="text-align:center; color:#ffffff;"><strong>PROJECT DETAILS</strong></div>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { id = "txtPname", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { id = "txtCname", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ProjectManager, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.ProjectManager, new { htmlAttributes = new { id = "txtPMname", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectManager, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.Developer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.Developer, new { htmlAttributes = new { id = "txtDVname", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Developer, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.Designer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.Designer, new { htmlAttributes = new { id = "txtDSname", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Designer, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ProjectType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.DropDownListFor(model => model.ProjectType, new List<SelectListItem> {
                                new SelectListItem { Text="Survey", Value="S" },
                                new SelectListItem { Text="E-Learning", Value="S" },
                                new SelectListItem { Text="360", Value="E" },
                                new SelectListItem { Text="Report Tool", Value="R" }
                            }, new { id = "lstPtype", @Class = "form-control" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem> {
                                new SelectListItem { Text="Development", Value="D" },
                                new SelectListItem { Text="Test", Value="T" },
                                new SelectListItem { Text="Live", Value="L" },
                                new SelectListItem { Text="Decommissioned", Value="DC" }
                            }, new { id = "lstPstatus", @Class = "form-control" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { id = "txtPUrl", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ProjectDB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.ProjectDB, new { htmlAttributes = new { id = "txtPDb", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectDB, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.ProjectServer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.EditorFor(model => model.ProjectServer, new { htmlAttributes = new { id = "txtPServer", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProjectServer, "", new { @class = "text-danger" })
                </div>
            </div>
            <br>
            <br>
            <div class="form-group" style="color:#ffffff">
                @Html.LabelFor(model => model.BackUp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="padding-left:40px">
                    @Html.DropDownListFor(model => model.BackUp, new List<SelectListItem> {
                                new SelectListItem { Text="Yes", Value="Y" },
                                new SelectListItem { Text="No", Value="F" }
                            }, new { id = "lstPPlan", @Class = "form-control" })
                </div>
            </div>
            <br>
            <br>
            @*<div class="form-group" style="text-align:center; padding-left:150px">*@
            <div class="modal-footer" style="text-align:center; padding-left:150px">
                <table>
                    <tr>
                        <td style="width:100px">
                            @*<div class="col-md-offset-2 col-md-10" style="width:5%">*@
                            <input type="submit" id="btnAddProject" class="btn btn-default" name="addproject" value="ADD" style="width:100%" />
                            @*</div>*@
                        </td>
                        <td style="padding-left:20px; width:110px">
                            @*<div class="col-md-offset-2 col-md-10" style="width:5%">*@
                            <input type="submit" id="btnCancel" class="btn btn-default" name="cancel" value="CANCEL" style="width:100%" data-dissmiss="modal" />
                            @*</div>*@
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    @*</div>*@
    }
